html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.full-page-content {
    height: 100%;

}

.sidebar-text{
	padding: 20px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
}


.sidebar-text a{
	
	text-decoration: none;
	font-size: 20px;
	color: #818181 !important;
	display: block;
}
  
  .sidebar-text a:hover {
	color: #f1f1f1;
  }

.row{
	height : 100% !important;
}
.side-panel{
	background-color: #000;
}

.drag-element > p{
	border: 1px solid black;
	padding: 3px;
	text-align: center;
}
.form-content{
		background-color: #e6e6e6;
		
}
.drag-element{
	padding: 3px;
}
.drag-element p span {
	padding-left: 7px;
}

#form-id{
	width: 100%;
	height: auto;
}


/*Sidediv making them sticky*/
/*.sticky{
	  position: fixed;
	  top: 0;
}*/


/*Form Container */
.form-element input,textarea,select{
	width: 100%;
	margin: 0 auto;	
}

.form-element{
	padding: 10px;
}


/*Form content edit option for side functionalities*/

.edit-function{
	padding-left: 15px;
}



/*Properties Change div*/

.properties-change{
	background-color: #f2f2f2;
}

.text-size, .pass-size, .email-size, .num-size, .radio-size, .check-size, .submit-size, .reset-size, .textarea-size, .drop-size, .date-size, .file-size, .time-size{
	display: none;
}

.field-element{
	padding: 10px;
}

/*Select ADD/DELET Icons*/

table td i{
	font-size: 24px!important;
	padding-left: 15px;
}

/*Delete a particular element*/

.delete-text-icon , .delete-pass-icon , .delete-email-icon , .delete-num-icon , .delete-radio-icon , .delete-check-icon , .delete-file-icon , .delete-textarea-icon
, .delete-time-icon , .delete-select-icon , .delete-submit-icon , .delete-reset-icon , .delete-date-icon{
	display: none;
	
	float: right;
}


.left {
	background: grey;  
  }
  
  .right {
	background: black;  
  }
  
  .main-wrapper {
	height: 100vh;  
  }
  
  .section {
	height: 100%;  
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  /* .half {
	background: #f9f9f9;
	height: 50%;  
	width: 100%;
	margin: 15px 0;
  }
   */
  h4 {
	color: white;  
  }

#preview-btn,#publish-btn{
    float:right;
}



